body {
    background-color: #121212;
    color: lightgray;
}
.mybutton {
    background-color: lightgray;
    color: #121212;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.mybutton:hover {
    background-color: gray;
}
a {
    text-decoration: none;
    color: lightgray;
}
